header {
    width: 74vw;
    min-height: 80vh;    
    padding: 150px 0;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.catalog_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog_categories_list {
    width: 100%;
}

.featured_products_list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 60px 0;
}


h2 { 
    display: flex;
    justify-content: center;
}

.win {
    box-shadow:4px 7px 9px rgba(0, 128, 0, 0.329);
}

.lose {
    box-shadow:4px 7px 9px rgba(255, 0, 0, 0.178);
}

.win:hover {
    box-shadow: 1px 3px 9px rgba(0, 128, 0, 0.281);
} 

.lose:hover {
    box-shadow: 1px 3px 9px rgba(255, 0, 0, 0.226);
}

.button_block {
    margin: 0 auto;
}